node_modules
dist
dist-ssr
*.local
coverage

.git
.gitignore
.dockerignore
Dockerfile*
docker-compose.yml

.env
.env.*
backend/venv
__pycache__
*.pyc
*.pyo
*.pyd

npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
