# node / frontend
node_modules/
dist/

# python / backend
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# env
.env

backend/artifacts/CICIDS2017_multiclass_RF_ML.pkl
backend/data/default_csv/conn_*.csv
backend/data/default_csv/conn_latest.csv
backend/alerts.db
.zeek_sync_state
